* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.grid-display {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.grid-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.grid-cell {
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Get players info */
.get-player-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* details placement */
.get-player-info-details {
  width: 40%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* get-player-info: hide game cell and wait for to place ships and starts the game*/
.get-player-info.hide {
  display: none;
}

.get-player-info.show {
  display: block;
}
.get-player-info-details {
  width: 40%;
}

.get-player-info-details form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.player1-info,
.player2-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.get-player-info-details input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.get-player-info-details input:focus {
  outline: none;
  border-color: #007bff;
}

.get-player-info-details button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.get-player-info-details button:hover {
  background-color: #0056b3;
}

/* Indicate user example of valid input */
.get-player-info-details p {
  font-size: 18px;
  color: #007bff;
}

/* Game status */
.show-player {
  text-align: center;
  margin-top: 10px;
}

/* start over */
#startOver {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startOver button {
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

#startOver button:hover {
  background-color: #0056b3;
}

/* Style MISS AND HIT CELL */
.miss {
  background-color: #f8d7da;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.hit {
  background: url("./img/sunk.gif");
  background-size: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style p that show info to user */
.show-player {
  font-size: 20px;
  color: #007bff;
}
